.hamburger{
    font-size: 0vw;
    color: white;
    display: none;
    cursor: pointer;
}

.hamburger_container{
    padding: 1.2%;
    border-radius: 5px;
    background-color: #0D2D62;
    float: right;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 750px){
    .hamburger{
        display: block;
        font-size: 30px;
    }

    .hamburger_container{
        display: block;
        margin-top: 2.7%;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 500px){
    .hamburger{
        display: block;
        font-size: 25px;
    }

    .hamburger_container{
        display: block;
        margin-top: 2.9%;
        margin-right: 3%;
    }
}