.staff-card img{
    height: 350px;
    width: 100%;
    margin: auto;
}

.staff-card{
    height: 350px;
    overflow: hidden;
}

.staff-card-description{
    background-color: #0D2D62;
    width: 100%;
    margin-top: -1.2%;
    height: 70px;
    box-sizing: border-box;
    position: relative;
    color: white;
    padding: 10px 0 10px;
}

.staff-card-description  .staff-name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 5px;
}

.staff-card-description .staff-description{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #d8d8d8;
}

.staff-photo-description-container:hover{
    transform: translateY(-70px);
    cursor: pointer;
}

.staff-photo-description-container{
    transition: 0.3s ease-out;

}

@media only screen and (max-width: 1400px){
    .staff-card img{
        height: 300px;
    }
    
    .staff-card{
        height: 300px;
    }
    
    .staff-card-description{
        height: 60px;
        padding: 10px 0 10px;
        margin-top: -1.4%;
    }
    
    .staff-card-description  .staff-name{
        font-size: 1.2em;
    }
    
    .staff-card-description .staff-description{
        font-size: 0.9em;
    }
    
    .staff-photo-description-container:hover{
        transform: translateY(-60px);
    }
}

@media only screen and (max-width: 1050px){
    .staff-card img{
        height: 440px;
    }
    
    .staff-card{
        height: 440px;
    }
    
    .staff-card-description{
        height: 60px;
        padding: 10px 0 10px;
        margin-top: -1%;
    }
    
    .staff-card-description  .staff-name{
        font-size: 1.2em;
    }
    
    .staff-card-description .staff-description{
        font-size: 0.9em;
    }
    
    .staff-photo-description-container:hover{
        transform: translateY(-60px);
    }
}

@media only screen and (max-width: 950px){
    .staff-card img{
        height: 400px;
    }
    
    .staff-card{
        height: 400px;
    }

    .staff-card-description{
        margin-top: -1.2%;
    }
}

@media only screen and (max-width: 850px){
    .staff-card img{
        height: 350px;
    }
    
    .staff-card{
        height: 350px;
    }
}

@media only screen and (max-width: 750px){
    .staff-card img{
        height: 300px;
    }
    
    .staff-card{
        height: 300px;
    }

    .staff-card-description{
        margin-top: -1.4%;
    }
}
@media only screen and (max-width: 650px){
    .staff-card img{
        height: 550px;
    }
    
    .staff-card{
        height: 550px;
    }

    .staff-card-description{
        margin-top: -0.8%;
    }
}
@media only screen and (max-width: 650px){
    .staff-card img{
        height: 500px;
    }
    
    .staff-card{
        height: 500px;
    }

    .staff-card-description{
        margin-top: -0.8%;
    }
}
@media only screen and (max-width: 500px){
    .staff-card img{
        height: 450px;
    }
    
    .staff-card{
        height: 450px;
    }

    .staff-card-description{
        margin-top: -1%;
    }

    .staff-card-description  .staff-name{
        font-size: 1em;
    }
    
    .staff-card-description .staff-description{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 450px){
    .staff-card img{
        height: 400px;
    }
    
    .staff-card{
        height: 400px;
    }

    .staff-card-description{
        margin-top: -1.2%;
    }
}
@media only screen and (max-width: 450px){
    .staff-card img{
        height: 350px;
    }
    
    .staff-card{
        height: 350px;
    }

    .staff-card-description{
        margin-top: -1.2%;
    }
}